<!DOCTYPE html>
<html>
<head>
	<title>Password Reset</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!--Bootstrap links-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

	<!--Font Awesome Link-->
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css">

	<!--Google Fonts Link-->
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">

	<!--Custom Style Sheet Link-->
	<link rel="stylesheet" href="/CSS/r_pass_style.css">

	<!-- Existing Style Sheet -->
	<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans'>
</head>


<body>
<div class="container-fluid body-bg-color body-position body-height">
	<img src="/img/Mask Group 1.png" class="sea-green-img">
	<!--User Login Image-->
	<div class="row"> <!-- body-height-->
		<!-- <div class="col-lg-4"></div> -->
		<div class="col-lg-12 centered-ele usr-profile-backgr"> <!-- centered-ele -->
			<img src="/img/Rectangle 6.png" class="profile-back-img">
			<img src="/img/avataaars-(-1.png" class="profile-img">
		</div>
	</div>

	<!--Text Form-->
	<div class="row mob-view-form">
		<!-- <div class="col-lg-4"></div> -->
		<div class="col-lg-12 centered-ele">
			<p class="p-top-text">Enter New Password?</p>
			<p class="p-bot-text">Enter your new password below, we're</p>
			<p class="p-bot-text">just being extra safe</p>
		</div>
	</div>

	<!--Space between Form and user picture-->
	<div class="row middle-row"></div>

	<div class="row form-left-padding mob-view-form-pos">
		<div class="col-lg-12 centered-ele">
			<div class="card card-width rounded">
				<div class="card-body card-body-pad bg-form-color-top shadow-lg card-body-mar">
					<img src="/img/Layer -1.png" class="lock-img in-line-block">
					<form class="in-line-block form-pos">
						<div class="form-group">
							<label for="password" class="pw-text">New Password</label>
							<input type="password" class="form-control p-hold" placeholder="type here" id="password" name="password">
						</div>
						<button type="button" class="btn form-btn" onclick="change_password()">
							<p class="form-p-sty">Save</p>
						</button>
					</form>
					<img src="/img/Icon feather-eye-off-1.png" class="eye-img in-line-block">
				</div>

				<div class="card-body bg-color-white form-lower-cont-pad">
				</div>
				<hr class="hr-style"/>
			</div>
		</div>
		<!--Form Lower Container-->
		<div class="bg-color-white form-lower-cont-pad">
		</div>

		<!--Modal Pop Up-->
		<div class="modal fade modal-mar-top" id="myModal" role="dialog">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header modal-top-sec modal-check-icon">
						<img  class="modal-img-sty" src="/img/Icon ionic-ios-checkmark-circle-outline.png">
					</div>
					<div class="modal-header modal-mid-sec">
						<h4 class="modal-title modal-heading">Password Updated!</h4>
					</div>
					<div class="modal-header modal-mid-sec">
						<p class="modal-p-1">Your password has been changed successfully.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		let post_url = "<%= post %>";
		let token = "<%= token%>";
		function change_password() {
			if ($('#password').val() === '') {
				alert("Enter Password to continue");
				return false;
			}
			let data = {
				token,
				password: $('#password').val()
			}
			$.ajax({
				type: "POST",
				url: post_url,
				data: data,
				success: (res) => {
					if(res.success) {
						$('#myModal').modal('show');
					} else {
						alert(res.message);
					}
				},
			});
		}
		$(".eye-img").on('click', (event) => {
			if ($('#password').attr('type') === 'password') {
				$('#password').attr('type', 'text');
			} else {
				$('#password').attr('type', 'password');
			}
		});
	</script>
</div>
</body>
</html>
