
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans'>
 </head>
 <body>
 	<div style="text-align: center;margin-top: 20px">
 		<img style="height: 300px; width: 300px" src="<%= logo %>">
 	</div>
 	<div style="text-align: center;margin-top: 20px">
    	<p style="font-size: 40px;color: red;">
    		<%= message %>
    	</p>
    </div>
</body>
</html>
